<% provide(:title, "Blog") %>

<h1>Blog</h1>
<p>
  <% @json['results'].each do |blog| %>
  <div class="blog-post col-md-8">
    <div class="blog-title-block">
    <h3 class="blog-title"> <a href="http://usmai-confluence-sandbox.lib.umd.edu/confluence<%= blog['_links']['tinyui']%>"><%= blog['title'] %></a></h3>
    <h6>by <%= blog['history']['createdBy']['displayName'] %> on <%= Date.parse(blog['history']['createdDate']).strftime("%B %d, %Y") %></h6>
  </div>
    <p class="blog-content">
      <%= blog['body']['view']['value'].html_safe %>
    </p>
  </div>
  <% end %>
</p>
